# Xcode
DerivedData/
build/
*.xcuserstate
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Archives and signing artifacts
*.ipa
*.xcarchive
*.mobileprovision
*.p12
